@font-face {
	font-family: "Origin-Bold";
	src: url(../fonts/Origin-Bold.ttf);
}
@font-face{
	font-family: "CaviarDreams_BoldItalic";
	src: url(../fonts/CaviarDreams_BoldItalic.ttf);
}
@font-face{
	font-family: "BirdsofParadise";
	src: url(../fonts/BirdsofParadise.ttf);
}
@font-face{
	font-family: "BetterHeather";
	src: url(../fonts/BetterHeather.ttf);
}
@font-face{
	font-family: "Roboto-Regular";
	src: url(../fonts/Roboto-Regular.ttf);
}
@font-face{
	font-family: "SilentReaction";
	src: url(../fonts/SilentReaction.ttf);
}
html, body{
	margin: 0;
	padding: 0;
}
#main-page-container{
	background-image: url("http://bit.ly/1TgqmGy");
	background-color:rgba(0,0,0,0.4);
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 95vh;
  background-repeat: no-repeat;
}
.overlay{
	height: 100%;
	width: 100%;
	padding-bottom: 30%;
	padding-top: 20px;
}
.name{
	padding-top: 80px;
	margin: 100px;
	font-family: "CaviarDreams_BoldItalic";
	font-size: 50px;
	text-align: center;
	margin-bottom: 67px;
}
.web-developer{
	text-align: center;
	font-family: "Roboto-Regular";
	font-size: 30px;
	padding-bottom: 30px;
}
.blurb{
	text-align: center;
	font-family: "CaviarDreams_BoldItalic";
}
#navigation{
	top: 150px;
	padding-left: 10px;
	margin: 47px;
	position: absolute;
	font-family: "Roboto-Regular";
	font-size: 20px;
  /*background-color:rgba(240,240,0,0.2);*/
  background-color: rgb(0,0,0,0.5);
  border: solid black;

}
.main-about-me{
	list-style-type: none;
	padding: 30px;
	margin: 30px;
}
.main-projects{
	list-style-type: none;
	padding: 30px;
	margin: 30px;
}
.main-contact{
	list-style-type: none;
	padding: 30px;
	margin: 30px;
}
#about-me{
/*	height: 0px;
	width: 0;*/
	padding: 30px; 
	height: 100%;
	padding-bottom: 80vh;

}
.annas-about{
	float: right;
	font-family: "Roboto-Regular";
	margin-left: 500px;
	margin-right: 300px;
}
h1{
	text-align: center;
	font-family: "CaviarDreams_BoldItalic";
	font-size: 40px;
}
h2{
	font-family: "CaviarDreams_BoldItalic";
	font-size: 30px;
	text-align: center;
}
.skills{
	font-family: "Roboto-Regular";
	text-align: center;
	position: absolute;
	margin-left: 50px;
}
li{
	list-style-type: none;
	padding: 10px;
}
#projects{
	padding: 30px; 
	height: 100%;
	padding-bottom: 80vh;
}
.find-me-uni{
	float: right;
}

